<h1>Artists</h1>

<table class="artists chart">
  <thead>
    <tr>
      <th class="position">Position</th>
      <th class="artist">Artist</th>
      <th class="plays">Plays</th>
    </tr>
  </thead>
  <tbody>
  <% @artists.each_with_index do |artist, index| %>
    <tr>
      <td><%= @artists.offset + index + 1 %></td>
      <td><%= link_to_artist artist %></td>
      <td><%= build_chart(artist, @artists) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @artists %>
