<h1>Users</h1>

<table class="chart">
  <thead>
    <tr>
      <th class="position">Position</th>
      <th class="user">User</th>
      <th class="plays">Plays</th>
    </tr>
  </thead>
  <tbody>
  <% @users.each_with_index do |user, index| %>
    <tr>
      <td><%= @users.offset + index + 1 %></td>
      <td><%= link_to_user user %></td>
      <td><%= build_chart(user, @users) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @users %>
