<h1><%= @user.username %></h1>

<nav>
  <ol>
    <li><a href="<%= user_scrobbles_path(@user) %>">Scrobbles</li>
    <li><a href="<%= user_artists_path(@user) %>">Artist Chart</li>
    <li><a href="<%= user_tracks_path(@user) %>">Track Chart</li>
  </ol>
</nav>
