.pagination {
  margin: 3em 0;
  text-align: center;

  span,
  em,
  a {
    display: inline-block;

    margin: .25em;
    padding: .5em .75em;

    border: 1px solid #ccc;

    &.disabled {
      color: #666;
    }

    &.current {
      background: #f6f6f6;
      border-color: #aaa;
    }

    &.next_page,
    &.next_page {
      min-width: 5em;
    }

    &:hover {
      background: #f6f6f6;
      border-color: #aaa;
    }
  }
}
